* {
  font-family: "ABeeZee", sans-serif;
  line-height: 1.5;
  font-size: 20px;
}

.aboutTitle,
.projectTitle {
  border-bottom: 1px black solid;
}

/* navbar */

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0px;
  background-color: rgb(177, 255, 255);
  z-index: 1;
}

.leftBar,
.divImage1,
.divImage2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftBar {
  width: 35%;
}

.leftBar > * {
  padding: 0 5px;
}

.divImage1 {
  padding-left: 40px;
}

.rightBar > * {
  padding: 10px;
}

.navContact {
  margin-right: 40px;
}

.rightBar {
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.navHome,
.navAbout,
.navProjects,
.navContact {
  cursor: pointer;
  border-radius: 10px;
}

.navHome:active,
.navAbout:active,
.navProjects:active,
.navContact:active {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.div1,
.div2 {
  width: 50px;
  height: 25px;
}

/* Home */

.intro {
  padding-top: 85px;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 10px;
}

.topIntro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 40px;
  font-weight: bold;
  width: 100%;
}

.leftIntro {
  width: 65%;
}

.rightIntro {
  width: 35%;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.githubIntro {
  width: 30px;
  height: 30px;
}

.photo {
  width: 80%;
  min-width: 250px;
  max-width: 300px;
  background-color: #ebfaff;
  animation: frame linear 4s infinite;
}

.topIntro,
.bottomIntro {
  padding: 10px 80px;
}

.skill {
  font-weight: bold;
}

.skillImgs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.skillImg {
  width: 55px;
  height: 50px;
  margin: 0 10px;
}

.skillImg:hover {
  animation: twist 1.5s linear infinite;
}

@keyframes frame {
  0% {
    border: 4px solid #ff4b04;
    border-radius: 60% 30% 50% 40%;
  }
  50% {
    border: 4px solid #44ff27;
    border-radius: 33% 88% 65% 43%;
  }
  75% {
    border: 4px solid #3407e6;
    border-radius: 20% 58% 20% 73%;
  }
  100% {
    border: 4px solid #b533f5;
    border-radius: 60% 30% 50% 40%;
  }
}

@keyframes twist {
  0% {
    transform: rotateZ(-45deg);
  }
  50% {
    transform: rotateZ(45deg);
  }
  100% {
    transform: rotateZ(-45deg);
  }
}

/* About */

.about {
  margin: 80px 50px;
  margin-bottom: 0px;
  padding: 0 30px;
  padding-top: 30px;
  border-radius: 30px;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
  border: rgb(177, 255, 255) 3px solid;
}

.aboutTitle {
  margin: 10px;
}

.aboutIntro {
  padding-bottom: 20px;
}

/* Projects */

.projects {
  margin: 80px 50px;
  padding: 0px 30px;
  border-radius: 30px;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
  border: rgb(177, 255, 255) 3px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projectTitle {
  align-self: start;
}

.projectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 3% 0;
}

.projectLeft {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.projectRight {
  width: 60%;
  padding-left: 4%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.projectPic {
  width: 100%;
  max-height: 600px;
}

.extension,
.kmb {
  max-width: 300px;
}

.projectName {
  font-size: 25px;
  font-weight: bold;
}

.projectDescibe,
.projectDescibe > li {
  padding: 1% 0;
}

.htmlSkill {
  color: #e44d26;
  border: 1px solid #e44d26;
}

.cssSkill {
  color: #254de5;
  border: 1px solid #254de5;
}

.domSkill {
  color: #f7d723;
  border: 1px solid #f7d723;
}

.typeSkill {
  color: #3074c0;
  border: 1px solid #3074c0;
}

.reactSkill {
  color: #25d1f4;
  border: 1px solid #25d1f4;
}

.nodeSkill {
  color: #7cb700;
  border: 1px solid #7cb700;
}

.nestSkill {
  color: #e32743;
  border: 1px solid #e32743;
}

.mongoSkill {
  color: #00e661;
  border: 1px solid #00e661;
}

.htmlSkill,
.cssSkill,
.domSkill,
.typeSkill,
.reactSkill,
.nodeSkill,
.nestSkill,
.mongoSkill {
  display: inline-block;
  padding: 2px;
  margin: 5px 5px;
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.skillContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.tagContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tag {
  color: white;
  padding: 3px 10px;
  border-radius: 0px 5px 5px 0px;
  margin: 10px 20px;
  position: relative;
}

.tag::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translate(-50%, -50%);
}

.beforeTag {
  content: "";
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
  position: absolute;
  left: 7px;
  border-radius: 1px;
}

.link {
  margin: 5px 0;
}

.linkBtn {
  text-decoration: none;
  color: white;
  margin: 0 5px;
  background-color: #01d12e;
  padding: 3px 5px;
  margin: 10px;
  border-radius: 10px;
  border: black 2px solid;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.3);
}

.linkBtn:active {
  position: relative;
  bottom: -4px;
  box-shadow: none;
}

/* Contact */

.contact {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 80px 80px;
}

.contactLinkContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.contactLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.githublogo,
.contactLogo {
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.github {
  width: 90px;
  height: 90px;
}

.copyright {
  background-color: white;
  color: black;
  padding: 0 10px;
  border-radius: 10px;
  align-self: flex-start;
}

@media screen and (max-width: 850px) {
  .intro {
    padding-top: 0;
    height: auto;
    align-items: center;
  }

  .topIntro {
    flex-direction: column-reverse;
    width: 100%;
    padding: 20px 0;
  }

  .bottomIntro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    padding: 10px 0px;
  }

  .skillImgs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .skillImgs > * {
    padding: 10px;
  }

  .rightIntro,
  .leftIntro {
    width: 90%;
  }

  .title {
    text-align: center;
  }

  .about {
    margin: 20px;
    margin-bottom: 60px;
  }

  .projects {
    margin: 20px;
  }

  .projectContainer {
    flex-direction: column;
    padding: 20px 0;
  }

  .projectLeft,
  .projectRight {
    width: 100%;
    padding: 10px 0;
  }

  .projectLeft {
    justify-content: center;
  }

  .projectPic {
    max-height: 450px;
    max-width: 100%;
    width: auto;
  }

  .contact {
    padding-bottom: 150px;
  }

  .contactLinkContainer {
    flex-direction: column;
  }

  .githublogo,
  .contactLogo {
    width: 50%;
    height: auto;
  }

  .github {
    width: 30%;
  }

  .contactLink > a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .githublogo > a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar2 {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    position: fixed;
    bottom: 0px;
    height: 70px;
    z-index: 1;
  }

  .navBottom {
    width: 100%;
    padding: 5px 0;
    background-color: rgb(177, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
  }

  .div1,
  .div2 {
    height: 20px;
  }

  .line1 {
    top: 25%;
  }

  .line2 {
    top: 50%;
  }

  .line3 {
    top: 75%;
  }

  .line1,
  .line2,
  .line3 {
    width: 60%;
    height: 3px;
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    transition: all 0.5s;
  }

  .hamburgerMenu {
    width: 40px;
    height: 40px;
    padding: 0 3px;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .arrow {
    position: relative;
    animation: up 0.5s ease-in-out;
  }

  .arrow div > div {
    position: absolute;
    top: 47%;
    left: 22%;
    transition: all 0.5s;
  }

  .arrow div > .line1 {
    transform: rotateZ(45deg);
  }

  .arrow div > .line2 {
    transform: rotateY(90deg);
  }

  .arrow div > .line3 {
    transform: rotateZ(-45deg);
  }

  .leftBar {
    width: 80%;
  }

  .rightBar {
    width: 20%;
  }

  .divImage1 {
    padding-left: 20px;
  }
  .navContact {
    margin-right: 0px;
  }

  .menuContainer {
    padding-right: 20px;
  }

  .menu {
    margin: 10px 0;
    padding: 5px;
    border-radius: 50%;
    background-color: white;
    border: #8fdcf7 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: -400px;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s ease-in-out;
  }

  .show {
    position: relative;
    bottom: 0px;
    transition: 0.5s ease-in-out;
  }

  .menu > img {
    width: 35px;
    cursor: pointer;
  }
}
